*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.qr-card{
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
}
.text{
    padding: 16px;
    text-align: center;
    color: hsl(216, 15%, 48%);
    margin-bottom: 8px;
}
.text1{
    margin-bottom: 16px;
    color: hsl(218, 44%, 22%);
}